:root {
  --wall-color: #ffae00;
  --tile-color: blue;
  --background: #333;
  --fail: #ac0000;
  --whiteish: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

body {
  position: absolute;
  background: var(--background);
  line-height: 1.4;
  color: var(--whiteish);
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  display: none;
}

#container {
  top: 50%;
  left: 50%;
  width: 850px;
  height: 700px;
  background: var(--background);
  margin: -350px 0 0 -425px;
  position: absolute;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem;
  z-index: 2;
  background: var(--background);
  border: 0.5rem solid var(--whiteish);
  display: flex;
  width: 600px;
  height: 400px;
  margin: -200px 0 0 -300px;
  display: none;
}

#messageContent {
  margin: auto;
}

#close {
  border-radius: 1rem;
  border: none;
  background: var(--whiteish);
  position: absolute;
  padding: 0.4rem;
  right: 10%;
  top: 10%;
}

#timer {
  position: absolute;
  top: 25px;
  right: 100px;
  height: 25px;
}

.btn {
  height: 25px;
  width: 100px;
  border: none;
  background: var(--whiteish);
  color: var(--background);
  z-index: 1;
  font-weight: bolder;
}

#start {
  position: absolute;
  top: 25px;
  left: 100px;
}

#finish {
  position: absolute;
  bottom: 25px;
  right: 100px;
}

#playArea {
  position: absolute;
  top: 50px;
  left: 25px;
  right: 25px;
  bottom: 50px;
}

.row {
  display: flex;
}

.tile {
  position: relative;
  background: var(--tile-color);
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.wall {
  background: var(--wall-color);
  transition-duration: 0.25s;
}

.path {
  background: var(--background);
}

.tc {
  position: absolute;
}

.topBorder {
  width: 850px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.leftBorder {
  width: 25px;
  height: 650px;
  position: absolute;
  top: 25px;
  left: 0;
}

.rightBorder {
  width: 25px;
  height: 650px;
  position: absolute;
  top: 25px;
  right: 0;
}

.bottomBorder {
  width: 850px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.square {
  width: 200px;
  height: 200px;
}

.rotate1 {
  transform: rotate(90deg);
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}
.rotate2 {
  transform: rotate(180deg);
}
.rotate3 {
  transform: rotate(270deg);
}

.t1-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
}
.t1-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 0;
}
.t1-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 0;
}
.t1-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 0;
}
.t1-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 0;
}
.t1-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 0;
}
.t1-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 0;
}
.t1-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 0;
}
.t2-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 25px;
}
.t2-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 25px;
}
.t2-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 25px;
}
.t2-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 25px;
}
.t2-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 25px;
}
.t2-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 25px;
}
.t2-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 25px;
}
.t2-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 25px;
}
.t3-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 50px;
}
.t3-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 50px;
}
.t3-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 50px;
}
.t3-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 50px;
}
.t3-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 50px;
}
.t3-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 50px;
}
.t3-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 50px;
}
.t3-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 50px;
}
.t4-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 75px;
}
.t4-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 75px;
}
.t4-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 75px;
}
.t4-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 75px;
}
.t4-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 75px;
}
.t4-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 75px;
}
.t4-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 75px;
}
.t4-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 75px;
}
.t5-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 100px;
}
.t5-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 100px;
}
.t5-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 100px;
}
.t5-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 100px;
}
.t5-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 100px;
}
.t5-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 100px;
}
.t5-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 100px;
}
.t5-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 100px;
}
.t6-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 125px;
}
.t6-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 125px;
}
.t6-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 125px;
}
.t6-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 125px;
}
.t6-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 125px;
}
.t6-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 125px;
}
.t6-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 125px;
}
.t6-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 125px;
}
.t7-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 150px;
}
.t7-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 150px;
}
.t7-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 150px;
}
.t7-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 150px;
}
.t7-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 150px;
}
.t7-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 150px;
}
.t7-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 150px;
}
.t7-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 150px;
}
.t8-1 {
  width: 25px;
  height: 25px;
  left: 0;
  top: 175px;
}
.t8-2 {
  width: 25px;
  height: 25px;
  left: 25px;
  top: 175px;
}
.t8-3 {
  width: 25px;
  height: 25px;
  left: 50px;
  top: 175px;
}
.t8-4 {
  width: 25px;
  height: 25px;
  left: 75px;
  top: 175px;
}
.t8-5 {
  width: 25px;
  height: 25px;
  left: 100px;
  top: 175px;
}
.t8-6 {
  width: 25px;
  height: 25px;
  left: 125px;
  top: 175px;
}
.t8-7 {
  width: 25px;
  height: 25px;
  left: 150px;
  top: 175px;
}
.t8-8 {
  width: 25px;
  height: 25px;
  left: 175px;
  top: 175px;
}
